div.row {
  display: grid;
  width: 450px;
  grid-template-columns: 3fr 3fr 3fr 3fr 3fr 3fr 3fr 3fr 2fr;
  grid-template-rows: 1fr;
  margin: 0px;
  padding: 0px;
  height: 50px;
}

div.column.notRightEdge {
  display: inline-grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2fr 1fr;
  margin: 0px;
  width: 100%;
  height: 50px;
  background-color: chocolate;
}

div.rightMost {
  display: inline-grid;
  grid-template-columns: 2fr;
  grid-template-rows: 2fr 1fr;
  width: 100%;
  background-color: chocolate;
}

div.column div.border {
  background-color: gray;
}

div.corner {
  background-color: gray;
}

div.rightMost div.vertic-border,
div.rightMost div.corner {
  background-color: white;
}

div.lastRow div.horiz-border,
div.lastRow div.corner {
  background-color: white;
}

/* div.cell {
  display: inline-block;
  height: 45px;
  width: 50px;
} */

div.column[data-player="player1"] div.cell {
  background-color: red;
}

div.column[data-player="player2"] div.cell {
  background-color: blue;
}

/* div.border {
  background-color: darkblue;
  display: inline-block;
  width: 50px;
  height: 5px;
} */
