div {
  display:inline-block;
  margin-bottom:-6px;
  padding:0px;
  border:0px;
}

div.stepField {
height:70px;
width:70px;
background-color: red;
}

div.wall.empty.vertical {
height: 70px;
width:20px;
background-color: blue;
}

div.stepField.player1 {
  height:70px;
  width: 70px;
  background-color:yellow;
}

div.wall.empty.horizontal {
  height:20px;
  width:70px;
  background-color: blue;
}
div.corner {
  height:20px;
  width:20px;
  background-color: blue;
}

div.container {
  height:790px;
  width:790px;
}