div {
  display:inline-block;
}

div.stepField {
height:150px;
width:150px;
background-color: red;
}

div.wall.empty.vertical {
height:150px;
width:50px;
background-color: blue;
}

div.wall.empty.horizontal {
  height:15px;
  width:5px;
  background-color: black;
  }

div.wall {
  height:150px;
width:150px;
  background-color: black;
}